table.tg
    tbody
        tr
            th.tg-c3ow Results
            th.tg-0pky
            th.tg-0pky
            th.tg-0pky
            th.tg-0pky
            th.tg-0pky
        tr
            td.tg-0pky No
            td.tg-phtq Competition
            td.tg-0pky John
            td.tg-phtq Adam
            td.tg-0pky Robert
            td.tg-phtq Paul
        tr
            td.tg-0pky 1
            td.tg-phtq Swimming
            td.tg-dvpl 1:30
            td.tg-ydyv 2:05
            td.tg-dvpl 1:15
            td.tg-ydyv 1:41
        tr
            td.tg-0pky 2
            td.tg-phtq Running
            td.tg-dvpl 15:30
            td.tg-ydyv 14:10
            td.tg-dvpl 15:45
            td.tg-ydyv 16:00
        tr
            td.tg-0pky 3
            td.tg-phtq Shooting
            td.tg-dvpl 70%
            td.tg-ydyv 55%
            td.tg-dvpl 90%
            td.tg-ydyv 88%